.TodoItem{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% -120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.TodoItem-p--complete {
    text-decoration: line-through;
}
.item-light{
    background-color: rgb(224, 255, 255);
    box-shadow: 0px 5px 35px rgba(32, 35, 41, 0.15);
}
.item-dark{
    background-color: #00224e;
    box-shadow: 0px 5px 35px rgba(179, 196, 230, 0.15);
}
.item-light{
    color:black;
    text-decoration-color: black;
    
}
.item-dark{
    color: white;
    text-decoration-color: white;
}